body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #FFFFFF;
  color: white;
  /*padding: 16px 20px;*/
  border: none;
  border-radius: 50px;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 70px;
  height: 70px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  /*border-top-right-radius: 10px;*/
  border-radius: 10px;
  z-index: 9;
  background-color: #FFFFFF;
}

/* Add styles to the form container */
.form-container {
  max-width: 350px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.chatlog-container{
	max-width: 320px;
	width: 100%;
	max-height: 500px;
	height: 390px;
	background-color: #FFFFFF;
	padding: 2%;
	border-radius: 5px;
	border: 1px #adabab solid;
	overflow-x: hidden;
	overflow-y: scroll;
   
}

.chatlog-container::-webkit-scrollbar{
	width: 10px;
}

.chatlog-container::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background: rgba(0,0,0,.2);
}
.chat{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}

.chat .user-photo{
	width: 50px;
	height: 50px;
	background-color: #ccc;
	border-radius: 50%;
	overflow: hidden;

}

.chat .user-photo img{
	width: 100%;
}

.chat .chat-msg{
	width: 75%;
	padding: 10px;
	margin: 5px 10px 0;
	border-radius: 10px;
	color: #FFFFFF;
	font-size: 14px;
}

.bot .chat-msg{
	background: #431696;
}

.self .chat-msg{
	background: #d05f41;
	order: -1;
}

/* Set a style for the submit/send button */
/*.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
/*.form-container .cancel {
  background-color: red;
}
*/
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}